.Button {
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    color: var(--button-text);
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.background {
    background: var(--button-background);
    color: var(--button-text);
    border: none;
}

.delete {
    background: var(--delete-color);
    color: var(--button-text);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    padding: 1.5rem;
}

.square.size_l {
    padding: 3rem;
}

.square.size_xl {
    padding: 4rem;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.fullWidth {
    width: 100%;
}
