.Input {
    border: 1px solid var(--input-border);
    background-color: var(--input-background);
    color: var(--text-primary);
    padding: 0.8rem;
    border-radius: 1rem;
    width: 100%;

    &:focus {
        outline: none;
        border-color: var(--primary-color);
        box-shadow: 0 0 4px var(--primary-color);
    }
}
