.app_dark_theme {
    --primary-color: #BBDEFB;
    --background-color: #212121;
    --secondary-color: #8C9EFF;
    --text-primary: #FFFFFF;
    --text-secondary: #BDBDBD;
    --input-background: #424242;
    --input-border: #757575;
    --button-background: #BBDEFB;
    --button-text: #212121;
    --navbar-text: #212121;
    --task-background: #424242;
    --task-border: #616161;
    --task-text: #BDBDBD;
    --done-task: #76FF03;
    --edit-color: #FFD54F;
    --delete-color: #EF5350;
    --filter-color: #66BB6A;
    --sort-color: #5C6BC0;
    --priority-low: #9CCC65;
    --priority-medium: #FFEE58;
    --priority-high: #EF5350;
    --skeleton-base: #424242;
    --skeleton-animation: #616161;
}
