:root {
    --primary-color: #2979FF;
    --background-color: #F5F5F5;
    --secondary-color: #8C9EFF;
    --text-primary: #212121;
    --text-secondary: #757575;
    --input-background: #FFF;
    --input-border: #BDBDBD;
    --button-background: #2979FF;
    --button-text: #FFF;
    --navbar-text: #FFF;
    --task-background: #FFF;
    --task-border: #E0E0E0;
    --task-text: #424242;
    --done-task: #B2FF59;
    --edit-color: #FFCA28;
    --delete-color: #F44336;
    --filter-color: #4CAF50;
    --sort-color: #3F51B5;
    --priority-low: #8BC34A;
    --priority-medium: #FFEB3B;
    --priority-high: #F44336;
    --skeleton-base: #E0E0E0;
    --skeleton-animation: #F5F5F5;
}
