.Checkbox {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.checkbox_input {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .checkbox_custom {
    background-color: var(--primary-color);

    &:after {
      content: '\f00c';
      font-family: sans-serif;
      font-weight: 900;
      color: var(--button-text);
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.checkbox_custom {
  width: 18px;
  height: 18px;
  background-color: var(--input-background);
  border: 2px solid var(--input-border);
  border-radius: 4px;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 2px;
    background-color: transparent;
  }
}
